{
  "twitter" : {
    "consumer_key": "Z23JQftLh7UqIcZwTtMwwE7o6",
    "consumer_secret": "",
    "access_token_key": "550787009-5bK9UJrHoHcAr3ekmOmLKlPtotjodp9dxgQa2Lzb",
    "access_token_secret": ""
  },
  "webserver" : {
    "url": "http://localhost:3000"
  }
}
