html
  head
    != css('styles.css')
    != js('scripts')

    script(src="/socket.io/socket.io.js")
    script(type='text/javascript').
      var socket = io.connect('http://localhost');
      socket.on('tweet', function (tweet) {
        console.log(tweet);
      });

  body
    h1 Hello World!
