html
  head
    script(src="/socket.io/socket.io.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlGP15xRGNIxWb8fecE8hgwI8I6XxNOec&sensor=true")
    != css('styles.css')
    != js('scripts')
  body
    div.main
      h1 Tweets
      ul#tweets
      div#map-canvas


