body {
  background-color: #4099FF;
}

div.main {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  padding: 25px;
}
#map-canvas {
  position: relative;
  height: 500px;  
  margin: 20px;
}

ul#tweets {
  list-style: none;
}

ul#tweets li {
  padding: 3px;
}

ul#tweets li.sad {
  color: red;
}

ul#tweets li.happy {
  color: green;
}