body {
  background-color: #4099FF;
}

div.main {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}
#map-canvas {
  position: relative;
  height: 500px;  
  margin: 20px;
}

ul#tweets {
  list-style: none;
  padding:20px;
  max-height: 250px;
  overflow: scroll;
  overflow-x: hidden;
}


ul#tweets li.neutral span.badge.emotion {
  background-color: #eee;
  color:#666;
}

ul#tweets li.sad span.badge.emotion {
  background-color: #ff6961;
}

ul#tweets li.happy span.badge.emotion {
  background-color: #5cb85c;
}


